<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<!--<p th:text="${errorMsg}" style="color:red;"></p>-->

<form method="post">
    <div class="form-group">
        <label> Item Name
            <input th:field="${item.name}" class="form-control">
        </label>
<!--        <p class="error" th:errors="${event.name}"></p>-->
    </div>
    <div class="form-group">
        <label> Description
            <input th:field="${item.description}" class="form-control">
        </label>
        <!--        <p class="error" th:errors="${event.description}"></p>-->
    </div>
    <div class="form-group">
        <label> Category
            <input th:field="${item.category}" class="form-control">
        </label>
        <!--        <p class="error" th:errors="${event.category}"></p>-->
    </div>
    <div class="form-group">
        <label> Price
            <input th:field="${item.price}" class="form-control">
        </label>
        <!--        <p class="error" th:errors="${event.price}"></p>-->
    </div>
    <div class="form-group">
        <label> Inventory
            <input th:field="${item.inventory}" class="form-control">
        </label>
        <!--        <p class="error" th:errors="${event.inventory}"></p>-->
    </div>
</form>

</body>
</html>